@import "src/styles/variables";

.shuffleButton {
  margin-left: 30px;
  background-color: $white;
  color: $purple;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid purple;
  outline: none;
  width: 86px;
  height: 47px;

  img {
    height: 20px;
  }

  &:disabled {
    padding: 0;
  }

  &:active {
    padding: 12px 13px 8px 17px;
  }
}
